<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-md-5">
                <img src="https://avatars1.githubusercontent.com/u/16787654?v=3&u=254c2e0f77920b18d568e7930ba774d85aa0749e&s=400" alt="A guy staring at you profoundly" class="img-circle" width= 80%>
                

            </div>
            <div class="col-md-7">
                <p><b>Hello there!</b></p>
                <br>
                <p>First of all, thanks for visiting my website, I really hope you can get to know what I'm about and how I can help you out with what you need. Now, with that out of the way .  .  .</p>
                <p>Let me introduce myself. My name is José Felipe Quiroga Peláez, and I'm a currently Computer Science student at Universidad de los Andes (situated in Bogotá, Colombia). 
                </p>
                <p>I've always been 'that' person who enjoys to pass most of his time around the computer. At first it was just video games, then I started tinkering with the hardware of my computer to understand how it affected performance, and now programming (emphasized on web development). </p>
                <br>
                <br>
                <p>That's pretty much it!  </p>
            </div>
        </div>
    </div>
</div>