<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <p><b>Cool things I've made (or collaborated on)</b></p>
        <br>
        <div class="row project">
            <div class="col-md-3">
                <p><b>AntaresBot</b></p>
            </div>
            <div class="col-md-8">
                <p>A bot that plays music on <a href="https://discordapp.com/" style="color:blue;">Discord</a>. Made using <a href="https://github.com/austinv11/Discord4J" style="color:blue;">Discord4J</a>, FFMPEG and youtube-dl. It is written completely in Java, using Maven as a build manager.</p>
            </div>
            <div class="col-md-1">
               <a href="https://github.com/josefelq/antares-bot">
                <span class="glyphicon glyphicon-search" width="100%"></span>
                </a>
            </div>
        </div>
    </div>
</div>