<div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="row">
          <div class="col-md-offset-10">
                <a class="resume" href="/docs/english.txt" download>Résumé</a>
          </div>
      </div>
        <div class="row">
            
            <div class="col-md-offset-1 col-md-5">
                <div class="row sometext">
                    <h4>Personal Details</h4>
                    <p class="answers"><b>Name: </b>José Felipe Quiroga Peláez</p>
                    <p class="answers"><b>Location: </b>Bogotá, Colombia</p>
                    <p class="answers"><b>Address: </b>Carrera 7C # 138-19</p>
                    <p class="answers"><b>Cellphone: </b>3103252483</p>
                </div>
                <div class="row sometext">
                    <h4>Education and qualifications</h4>
                    <p class="answers">High school degree (IB student).</p>
                </div>
                <div class="row sometext">
                    <h4>Relevant skills</h4>
                    <p class="answers"><b>Bilingual: </b> Spanish (Native) and English (Proficient)</p>
                    <p class="answers">Good communicator.</p>
                    <p class="answers">Organized.</p>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <div class="row sometext">
                    <h4>Work Experience</h4>
                    <p class="answers">None.</p>
                </div>
                <div class="row sometext">
                    <h4>Interests</h4>
                    <p class="answers">Empowering user-application interaction.</p>
                    <p class="answers">Learning web application frameworks.</p>
                    <p class="answers">Applying knowledge in videogame environment (VoIP, APIs)</p>
                </div>
                <div class="row sometext">
                    <h4>Referees</h4>
                    <p class="answers">None.</p>
                </div>
            </div>
        </div>
    </div>
</div>